*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'open Sans' , sans-serif;
}
.Main_Container{
    border: 2px solid black;
    height: 100vh;
    width: 20vw;
    margin: 3% 0% 0% 38%;
    padding: 6px;
}

.header{
    text-align: center;   
}

.light_color{
     color: rgba(0, 0, 0, 0.7);
     padding-top: 2px;
     padding-bottom: 2px;   
}

.para3{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size:15px;
}

.line_Bold{
    height: 12px;
    background-color: black;
    margin-top: 4px;
}

.para_aps{
    font-weight: 900;
    font-size: 13px;
}

.para4{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 31px;
}

.linebold1{
    height: 6px;
    background-color: black;
}

.para5{
    font-weight: 900;
    font-size: 13px;
    text-align: end;
    padding: 2px;
}

.Line_light{
    color: rgba(0, 0, 0, 0.7);
}

.line1{
     display: flex;
     justify-content: space-between;
     font-size: 14px;
     padding: 0.9px;
     
}

.bold-item{
    font-weight: 800;
}
.line1_space{
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.colorch{
    color: rgba(0, 0, 0, 0.7);
}
.cursive{
    font-style: italic;
}

.gap{
    margin-left: 25px;
}

.linebold2{
    height: 10px;
    background-color: black;
}

.para_last{
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    padding: 3px;
}
